@model IEnumerable<NurseCourse.Models.Course>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Cursos y Módulos</h2>
    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#addCourseModal">Agregar Curso</button>
</div>


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5 pt-4 pb-4">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/carousel/item1.jpg" alt="..." />
        </div>
        <div class="col-lg-5">
            <h3 class="font-weight-light mb-5">Regístrese en nuevos cursos.</h3>
            <p>
                Aprenda más sobre el tema en el que usted está interesado. Le ofrecemos múltiples opciones al elegir cursos desde: Marketing Digital, Ciencia de Datos, Inteligencia Artificial, E-Commerce, Desarrollo.
                Puede ver los módulos de cada curso, disfrutar de artículos y multimedia para reforzar su aprendizaje.
            </p>
        </div>
    </div>
</div>

<!-- Sección de Cursos y Módulos -->
<div class="container" style="padding: 15px 10px;">
    @foreach (var course in Model)
    {
        <div class="mb-5">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-dark">@course.Name</h3>
                <div>
                    <button type="button" class="btn btn-outline-danger" onclick="confirmDeleteCourse('@course.Id')">Eliminar Curso</button>
                    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#addModuleModal-@course.Id">Agregar Módulo</button>
                </div>
            </div>
            <p class="text-dark">@course.Description</p>

            <div class="row">
                @if (course.Modules != null && course.Modules.Any())
                {
                    @foreach (var module in course.Modules)
                    {
                        <div class="col-12 col-md-6 mb-4">
                            <!-- Card del módulo -->
                            <div class="card h-100" style="background-color: rgba(0, 0, 0, 0.4); color: white;">
                                <div class="card-body">
                                    <h4 class="card-title text-light">Módulo</h4>
                                    <hr class="bg-light" />
                                    <dl class="row">
                                        <dt class="col-sm-4">Nombre</dt>
                                        <dd class="col-sm-8">@module.Name</dd>

                                        <dt class="col-sm-4">Descripción</dt>
                                        <dd class="col-sm-8">@module.Description</dd>
                                    </dl>
                                </div>
                                <div class="card-footer text-right" style="background-color: rgba(0, 0, 0, 0.5);">
                                    <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Modules" asp-route-id="@module.Id">Editar</a>
                                    <a href="javascript:void(0);" class="btn btn-outline-danger" onclick="confirmDelete('@module.Id')">Eliminar</a>
                                    <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Modules" asp-route-id="@module.Id">Ver Modulo</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12">
                        <p class="text-muted">Este curso aún no tiene módulos asignados.</p>
                    </div>
                }
            </div>
        </div>

        <!-- Modal para agregar un nuevo módulo al curso -->
        <div class="modal fade" id="addModuleModal-@course.Id" tabindex="-1" role="dialog" aria-labelledby="addModuleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModuleModalLabel">Agregar Módulo para @course.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form-add-module-@course.Id">
                            <div class="form-group">
                                <label for="name-@course.Id">Nombre del Módulo</label>
                                <input id="name-@course.Id" name="Name" type="text" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="description-@course.Id">Descripción</label>
                                <input id="description-@course.Id" name="Description" type="text" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="pdfPath-@course.Id">PDF Path</label>
                                <input id="pdfPath-@course.Id" name="PdfPath" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="videoPath-@course.Id">Video Path</label>
                                <input id="videoPath-@course.Id" name="VideoPath" type="text" class="form-control" />
                            </div>
                            <input type="hidden" name="CourseId" id="courseId-@course.Id" value="@course.Id" />
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-primary" onclick="createModule(@course.Id)">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCourseModalLabel">Agregar Nuevo Curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulario para agregar curso -->
                <form id="form-add-course">
                    <div class="form-group">
                        <label for="courseName">Nombre del Curso</label>
                        <input id="courseName" name="Name" type="text" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="courseDescription">Descripción del Curso</label>
                        <textarea id="courseDescription" name="Description" class="form-control" required></textarea>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-primary" onclick="createCourse()">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    function createModule(courseId) {
        var formId = "#form-add-module-" + courseId;

        var moduleData = {
            Name: $(formId + ' [name="Name"]').val(),
            Description: $(formId + ' [name="Description"]').val(),
            PdfPath: $(formId + ' [name="PdfPath"]').val(),
            VideoPath: $(formId + ' [name="VideoPath"]').val(),
            CourseId: courseId
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("CreatedByCourse", "Modules")',
            data: JSON.stringify(moduleData),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        title: '¡Éxito!',
                        text: response.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: response.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            },
            error: function () {
                Swal.fire({
                    title: 'Error en la conexión',
                    text: 'No se pudo conectar con el servidor.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    }
    function createCourse() {
        var courseData = {
            Name: $('#courseName').val(),
            Description: $('#courseDescription').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "Courses")', 
            data: JSON.stringify(courseData),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        title: '¡Éxito!',
                        text: response.message,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: response.message,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            },
            error: function () {
                Swal.fire({
                    title: 'Error en la conexión',
                    text: 'No se pudo conectar con el servidor.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    }
    function confirmDelete(moduleId) {
        // Usamos SweetAlert2 para mostrar un mensaje de confirmación
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteConfirmed", "Modules")', 
                    data: { id: moduleId }, 
                    success: function (response) {
                        Swal.fire({
                            title: '¡Eliminado!',
                            text: 'El módulo ha sido eliminado.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload();
                        });
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error',
                            text: 'No se pudo eliminar el módulo.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });
    }
    function confirmDeleteCourse(courseId) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteConfirmed", "Courses")',
                    data: { id: courseId },
                    success: function (response) {
                        Swal.fire({
                            title: '¡Eliminado!',
                            text: 'El curso ha sido eliminado.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload(); 
                        });
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error',
                            text: 'No se pudo eliminar el curso.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });
    }
</script>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
